<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head> 
     <title>Charge Items</title> 
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
 
 
     <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" 
           th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" 
           rel="stylesheet" media="screen"/> 
 
 
     <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" 
             th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script> 
 
 
     <link href="../static/css/spring-core.css" 
           th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/> 
</head> 
<body> 
<div class="container">
<h2>Charge Item List</h2> 
     <div th:if="${not #lists.isEmpty(chargeItems)}"> 
         <table class="table table-striped"> 
             <tr> 
                 <th>Id</th> 
                 <th>Expense Item</th> 
                 <th>Amount</th> 
                 <th>Cost</th>
                 <th>View</th>
                 <th>Edit</th>
                 <th>Delete</th> 
             </tr> 
             <tr th:each="chargeItem : ${chargeItems}"> 
                 <td th:text="${chargeItem.id}"></td> 
                 <td th:text="${chargeItem.expense.item}"></td> 
                 <td th:text="${chargeItem.amount}"></td> 
                 <td th:text="${chargeItem.cost}"></td>
                 <td><a th:href="${'/user/chargeItem/show/' + chargeItem.id}">View</a> </td>
                 <td><a th:href="${'/user/chargeItem/edit/' + chargeItem.id}">Edit</a> </td>
                 <td><a th:href="${'/user/chargeItem/delete/' + chargeItem.id}">Delete</a> </td> 
             </tr> 
         </table> 
     </div>
     <div class="row"> 
         <div class="col-sm-3"> 
             <a href="/user/chargeItem/add">Add Charge Item</a> 
         </div> 
     </div> 
</div> 
</body> 
</html> 
